include _loadComponentsData
include _currentPathResolver
doctype
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(href='/assets/styles/vendor/reset.css', rel='stylesheet')
        link(href='/assets/styles/vendor/flexboxgrid.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Poiret+One', rel='stylesheet')
        link(href='/assets/styles/harplyss.css', rel='stylesheet')
        if !process.env.PRODUCTION
            each module in components
                - var stylesheet = componentsPath + module.baseSource + 'style.css'
                if module.hasCSS
                    link(href=stylesheet, rel='stylesheet')

        if process.env.PRODUCTION
            - var stylesheet = componentsPath + 'assets/styles/build.css'
            link(href=stylesheet, rel='stylesheet')

        block styles
    body(id=id, class=classes)
        block content
        block libscripts
        block scripts
            if !process.env.PRODUCTION
                each module in components
                    - var script = componentsPath + module.baseSource + 'script.js'
                    if module.hasJS
                        script(src=script)

            if process.env.PRODUCTION
                - var script = componentsPath + 'assets/scripts/build.js'
                script(src=script)